.contacts__company-name {
	margin: 0;
	font-size: 18px;
	line-height: 27px;
	font-weight: 700;
}

.contacts__phone {
	display: block;
	width: 280px;
	height: 50px;
	padding-top: 10px;
	margin: 0 auto;

	color: #ffffff;
	font-weight: 700;
	text-align: center;
	text-decoration: none;
	border: 1px solid #969696;
	box-sizing: border-box;
}